.titre{
    margin-left: 15px;
    margin-top: 10px;
    color: rgb(4, 30, 145);
}
/*any@lecture*/
/* .titreMusicLecture{
    color: rgb(4, 30, 145);
} */
.posMargIcoMusic{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* .card:hover{
    background-color:  rgb(79, 164, 243);;
} */
.card{
    cursor: pointer;
    height: 325px;
    width: 250px;
}
.card:hover{
    background-color: rgb(79, 164, 243);
}
.card:hover > .card-body{
    background-color: rgba(0, 0, 0,0.5);
    color: white;
}
.card-body{
    background-color: rgba(79, 164, 243, 0.5);
}

.btnLiker{
    position: absolute;
    right: 0;
    bottom: 5px;
    background-color: transparent;
    border: none;
}

.containerMusic{
    flex-wrap: nowrap;
    width: 91%;
    overflow-x: hidden;
    padding: 10px;
}
.navSticky{
    position: sticky;
    top: 0;
    z-index: 10;
}
/*logo emifi*/
.e{
    color: rgb(4, 30, 145);
    transform: rotate(60deg);
}
.mifi{
    color: rgb(79, 164, 243);
}
.listMenu{
    cursor: pointer;
    margin-right: 10px;
}

.list-group{
    margin-inline: 0;
}
.tailleControl{
    width: 60px;
}
.tailleImg{
    width: 100%;
}
.tailleReaction{
    width: 40px;
    height: 100%;
}
.controlMusic{
    margin-top: 5px;
    margin-bottom: 5px;
}
.infosMusic{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* .noDebordement{
    overflow: hidden;
} */
.titreMusic{
    white-space: nowrap;
    width: 210px;
    overflow: hidden;
}
#titreMusicLecture{
    width:300px;
}